mat-toolbar
  margin-bottom: 16px

mat-card
  width: 230px

.screen
  height: 50px
  border: 1px solid black
  margin: 8px 0

.key-container
  margin: 0 -8px

.key-wrapper
  text-align: center
  padding: 8px


